<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://www.proteomics.uni-freiburg.de/images/team/portrait-dummy.png/image_preview" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ character.name }}</p>
        <p class="subtitle is-6">@{{ character.tag }}</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
    </div>
  </div>
</div>