<!-- <div class="modal-content">
    <div class="box">
        <form [formGroup]="form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" placeholder="Name">
                            <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" placeholder="@tag">
                            <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Race</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select required>
                                <option>saiyan</option>
                                <option>human</option>
                                <option>namek</option>
                                <option>human-saiyan</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" [disabled]="ngForm.errors">
                                Create
                            </button>
                            <button class="button">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<button class="modal-close is-large" (click)="cancel()"></button> -->

<div class="modal-content">
    <div class="box">
        <form [formGroup]="form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" placeholder="Name" formControlName="name">
                            <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" placeholder="@tag">
                            <span class="icon is-small is-left"><i class="fa fa-twitter"></i></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">
                                Create
                            </button>
                            <button class="button">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <code>
            Value: {{ form.value | json }}<br/>
            Validation status: {{ form.status }}
        </code>
    </div>
</div>

<button class="modal-close is-large" (click)="cancel()"></button>