<div class="box">
    <form [formGroup]="form">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input class="input" placeholder="Name" formControlName="name">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input class="input" placeholder="@tag" formControlName="tag">
                        <span class="icon is-small is-left"><i class="fa fa-twitter"></i></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Race</label>
            </div>
            <div class="field-body">
                <div class="field is-6">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select formControlName="race">
                                    <option *ngFor="let race of races" [value]="race">{{race}}</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" [disabled]="!form.valid || isPosting" (click)="create()" [class.is-loading]="isPosting">
                                Create
                            </button>
                        <button class="button" (click)="cancel()">
                                Cancel
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>